@charset "utf-8" ;



.mainvisual{
    background-color: #ed9195;
    position: relative;
}

.menu {
    display: flex;
    color: #fff;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    padding: 64px 7.3%;
    width: 100%;
    box-sizing: border-box;
    
}

.menu p{ 
    /* margin: 52px 0 20px 7.3%; */
    font-size: 26px;
}
    
    .menu ul{
        list-style: none;
        display: flex;
        font-size: 18px;
        position: relative;
        top: 7.3px;
        width: 47%;
    }
        
.menu ul li{
    white-space: nowrap;
}

.menu ul li:not(:last-child){
    margin-right: 11%;

}


h1{
    width: 85%;
    margin: 0 auto;
    position: absolute;
    top: 105px;
    left: 7.3%;
    
}

.sweater{
    max-width: 180px;
    width: 13%;
    position: absolute;
    top: 37%;
    left: 18%;
}

.woman{
    max-width:  880px;
    width: 64%;
    position: relative;
    top: 99px;
    left: 50%;
    transform: translatex(-50%);
    margin-bottom: -2%;
}

.sunglasses{
    max-width: 127px;
    width: 9.2%;
    position: absolute;
    right: 25%;
    bottom: 25%;
}

.lipstick{
    max-width: 97px;
    width: 7.1%;
    position: absolute;
    bottom: 4%;
    right: 10.5%;
    z-index: 2;
}

.pickup{
    max-width: 190px;
    width: 14%;
    position: absolute;
    bottom: 7%;
    left: 73%;
    z-index: 1;
    
}

.design_de{
    width: 78.8%;
    position: absolute;
    top:50%;
    left: 11%;
}

.mokuji{
    position: absolute;
    bottom:5% ;
    left: 7.3%;
}

.mokuji img:first-child{
    width: 90px;
}

.mokuji img:nth-of-type(2){
    width: 105px;
}

.mokuji img:last-of-type{
    width: 54px;
}

.mokuji p{
    color: #fff;
    font-size: 16px;
}

.concept{
    margin-top: 213px;
    display: flex;
    justify-content: center;
}

.concept_text{
    width: 29%;
}

.concept_midashi{
    display: flex;
    justify-content: center;
}

.concept_midashi h2{
    font-size: 55px;
    font-weight: bold;
}

.concept_midashi h3{
    font-size: 42px;
    font-weight: bold;
}

.concept_text p:first-of-type{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.2em;
    line-height: 1.7;
    margin-top: 69px;
    margin-bottom: 111px;
    width: 96%;
    border-bottom:solid #b3b3b3;
    padding-bottom: 18px;
}

.concept_text p:last-of-type{
    font-size: 17px;
    line-height: 1.6;

}

.woman_photo{
    width: 44%;
    margin-left: 7%;
}

.aboutme{
    display: flex;
    justify-content: center;
    margin-top: 137px;
    position: relative;
    height: 680px;
}


.images_aboutme img:first-child{
    width: 10.6%;
    position: absolute;
    top: 0%;
    left: 18%;
    z-index: 12;
    
}

.images_aboutme img:nth-child(2){
    width: 36%;
    position: absolute;
    left: 9.5%;
    z-index: 1;
}

.images_aboutme img:nth-child(3){
    width: 11.7%;
    position: absolute;
    left: 39.4%;
}

.images_aboutme img:nth-child(4){
    width: 13.6%;
    position: absolute;
    top: 71%;
    left: 5.3%;
}

.aboutme_midashi{
    display: flex;
    justify-content: center;
}

.name{
    display: flex;
}

.aboutme_text{
    width: 30.5%;
    position: absolute;
    top: 0;
    right: 12%;
}

.aboutme_text h2{
    font-size: 55px;
    font-weight: bold;
}

.aboutme_text h3{
    font-size: 42px;
    font-weight: bold;
}

.aboutme_text p{
    font-size: 17px;

}

.mycarrierhistory{
    position: relative;
}


.mycarrierhistory img:nth-child(2){
    width: 69%;
    position: absolute;
    top: -8%;
    right: 3%;
}

.mycarrierhistory img:nth-child(3){
    position: absolute;
    top: 12%;
    left: 11.7%;
    width: 21.5%;
    max-width: 295px;
}

.mycarrierhistory img:nth-child(4){
    position: absolute;
    top:25%;
    left: 37.9%;
    width: 14.2%;
    max-width: 195px;
}

.mycarrierhistory img:nth-child(5){
    width: 16.5%;
    max-width: 226px;
    position: absolute;
    top: 50%;
    right: 33.8%;
}

.mycarrierhistory img:nth-child(6){
    width: 21.5%;
    max-width: 294px;
    position: absolute;
    top: 40%;
    right: 8.1%;
}


.mycarrierhistory img:nth-child(7){
    position: absolute;
    top: 381px;
    left: 3.3%;
}

.mycarrierhistory img:nth-child(8){
    width: 18.6%;
    position: absolute;
    top: 424px;
    left: 20.8%;
}