@charset "utf-8" ;

html { scroll-behavior: smooth;}

.mainvisual{
    background-color: #ed9195;
    position: relative;
}

.menu {
    display: flex;
    color: #fff;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    padding: 64px 7.3%;
    width: 100%;
    box-sizing: border-box;
    
}

.menu p{ 
    font-size: 26px;
}
    
    .menu ul{
        list-style: none;
        display: flex;
        font-size: 18px;
        position: relative;
        top: 7.3px;
        gap: 4vw;
    }
        
.menu ul li{
    white-space: nowrap;
}



h1{
    width: 85%;
    margin: 0 auto;
    position: absolute;
    top: 105px;
    left: 7.3%;
    
}



.DESIGNCOODINATE_logo_pc { 
    display: block !important; }

.DESIGNCOODINATE_logo_sp {
     display: none !important; }
 


.sweater{
    max-width: 153px;
    width: 14%;
    position: absolute;
    top: 36%;
    left: 23%;
    animation: pikopiko 1s steps(2, start) infinite;
}

.woman{
    max-width:  880px;
    width: 64%;
    position: relative;
    top: 99px;
    left: 50%;
    transform: translatex(100%);
    margin-bottom: -2%;

    animation: pikopiko 1s steps(2, start) infinite , elm 4s forwards;
    

}
    
@keyframes pikopiko {
        
    0% {
      transform: rotate(20deg);
      
    }
    to {
      transform: rotate(-10deg);
    }

    
  }


     @keyframes elm {
          to {
    
    transform:translateX(-50%);
    }
    
          }


      



.sunglasses{
    max-width: 127px;
    width: 11%;
    position: absolute;
    right: 20%;
    bottom: 22%;
    z-index: 3;
    animation: pikopiko 1s steps(2, start) infinite
}

.lipstick{
    max-width: 97px;
    width: 7.1%;
    position: absolute;
    bottom: 4%;
    right: 10.5%;
    z-index: 2;
    animation: pikopiko 1s steps(2, start) infinite
}

.pickup{
    max-width: 190px;
    width: 14%;
    position: absolute;
    bottom: 7%;
    left: 73%;
    z-index: 1;
    
}

.design_de{
    width: 78.8%;
    position: absolute;
    top:50%;
    left: 11%;
}

.mokuji{
    position: absolute;
    bottom:4% ;
    left: 7.3%;
}

.mokuji img:first-child{
    width: 30%;
    max-width: 70px;
}

.mokuji img:nth-of-type(2){
    width: 35%;
    max-width: 90px;
}

.mokuji img:last-of-type{
    width: 18%;
    max-width: 48px;
}

.mokuji p{
    color: #fff;
    font-size: 16px;
    margin-bottom: 4px;
}

@media screen and (max-width:390px) {

.menu p{
    font-size: 13px;
}

.DESIGNCOODINATE_logo_pc { display: none !important; }
.DESIGNCOODINATE_logo_sp { display: block !important; }

     

}




#concept{
    margin: 0 auto;
    margin-top: 213px;
    display: flex;
    justify-content: center;
    max-width: 1165px;
}

.concept_text{
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3%;
    box-sizing: border-box;
    
}

.concept_midashi{
    display: flex;
    justify-content: center;
}

.concept_midashi h3::before{
    content: "";
    width: 35.6px;
    height: 1px;
    background-color: #333;
    display: block;
    transform: rotate(123deg);
}

.concept_midashi h2{
    font-size: 55px;
    font-weight: bold;
}

.concept_midashi h3{
    font-size: 42px;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
}



.concept_text p:first-of-type{
    margin: 0 auto;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1.7;
    width: 96%;
    max-width: 384px;
    border-bottom:solid 3px #b3b3b3;
    padding-bottom: 18px;
    position: relative;
    top: -5%;
}

.concept_text p:last-of-type{
    margin: 0 auto;
    font-size: 17px;
    line-height: 1.6;
    max-width: 384px;

}

@media screen and (max-width:1161px) {
    .concept_midashi h2{
        font-size: 50px;
    }
    .concept_midashi h3{
        font-size: 40px;
    }
    .concept_text p:first-of-type{
        font-size: 20px;
        padding-bottom: 10px;
    }
    .concept_text p:last-of-type{
        font-size: 16px;
    }
}

@media screen and (max-width:968px) {
    .concept_midashi h2{
        font-size: 50px;
    }
    .concept_midashi h3{
        font-size: 40px;
    }
    .concept_text p:first-of-type{
        font-size: 17px;
        padding-bottom: 10px;
        position: relative;
        top:0%;
    }
    .concept_text p:last-of-type{
        font-size: 16px;
    }
}


@media screen and (min-width:390) {

    
}



.woman_photo{
    width: 52%;
    margin-left: 8.5%;
}

.woman_photo img{
    width: 100%;
}

#aboutme{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 137px;
    max-width: 1165px;
    align-items: flex-start;
    padding: 3%;
    box-sizing: border-box;
}

.images_aboutme{
    width: 43%;
    position: relative;
}

.images_aboutme img:first-child{
    width: 100%;
    max-width: 503px;
    top: 4.7%;
    left: 4.3%;
    z-index: 1;
    
}



.swing-outer {
    zoom: 1;
}

.swing-outer:before, .swing-outer:after {
    content: "";
    display: table;
}

.swing-outer:after {
    clear: both;
}

.swing {
    animation: swing linear 4s infinite;
    transform-origin: center -20px 0;
    display: block;
    float: left;
}

.swing img {
    z-index: 2;
    display: block;
    width: 200px;
}

.swing:after {
    content: '';
    border: 1px solid #999;
    top: 3px;
    z-index: 0;
    left: 39%;
    width: 35px;
    height: 35px;
    border-bottom: none;
    border-right: none;
    transform: rotate(37deg);
    position: absolute;
}

/* .swing:before {
    content: '';
    top: -14px;
    z-index: 5;
    left: 54%;
    width: 5px;
    border-radius: 50% 50%;
    background: #000;
    height: 5px;
    position: absolute;
} */

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


.images_aboutme img:nth-child(2){
    width: 6%;
    position: absolute;
    top: -3.2%;
    left: 43%;
    z-index: 2;
}

.images_aboutme img:nth-child(3){
    width: 30%;
    max-width: 160px;
    position: absolute;
    top: -14.6%;
    right: -8.5%;
}

.images_aboutme img:nth-child(4){
    width: 30%;
    max-width: 160px;
    position: absolute;
    bottom: -12%;
    left: -8.4%;
}

.aboutme_text{
    width: 36%;
    top: 0;
    right: 12%;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aboutme_text h2{
    font-size: 55px;
    font-weight: bold;
}

.aboutme_text h3{
    font-size: 42px;
    font-weight: bold;
}

.aboutme_text p{
    font-size: 17px;

}


.aboutme_midashi{
    display: flex;
    justify-content: center;
    margin-bottom: 61px;
    
}

.aboutme_midashi h2{
    font-size: 55px;
    font-weight: bold;
}

.aboutme_midashi h3::before{
    content: "";
    width: 35.6px;
    height: 1px;
    background-color: #333;
    display: block;
    transform: rotate(123deg);
}

.chapter02{
    display: flex;
    flex-direction: column;
}

.chapter_arch2{
    max-width: 58px;
}

.aboutme_midashi h3{
    font-size: 42px;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    top: 12px;
}

.name{
    display: flex;
    justify-content: center;
    border-bottom: solid #b3b3b3 3px;
    position: relative;
    top: -10%;
    margin-bottom: 19%;
}

.name p:first-child{
    font-size: 37px;
    margin-right: 11.7%;
    padding-bottom: 3%;
    font-weight: bold;
}

.name p:nth-child(2)::before{
    content: "";
    width: 56px;
    height: 3px;
    background-color: #b3b3b3;
    display: block;
    transform: rotate(90deg);
    position: relative;
    left: -50px;
    bottom: -16px;
}

.name p:nth-child(2){
    font-size: 27px;
    font-weight: bold;
    position: relative;
    bottom: -5px;
}



.seif_introduction{
    font-size: 17px;
    margin: 0 ;
    position: relative;
    top: -13%;
}

.seif_introduction p:first-child{
    line-height: 1.6;
    margin-bottom: 40px;
}

.seif_introduction p:nth-child(2){
    line-height: 1.6; 
}


@media screen and (max-width:1125px) {

.aboutme_text h2{
    font-size: 50px;
}

.aboutme_text h3{
    font-size: 40px;
}

.name p:first-child{
    font-size: 27px;
    
}

.name p:nth-child(2){
    font-size: 23px;
    position: relative;
    bottom: 0px;
}

.name p:nth-child(2)::before{
    position: relative;
    left: -50px;
    bottom: -10px;
}

}

.mycarrierhistory{
    position: relative;
    margin-top: 66px;
}


.woman_illustration{
    width: 20%;
    max-width: 270px;
    position: absolute;
    top: 50%;
    left: 3.3%;
    z-index: 2;
}

.fukidashi{
    width: 20%;
    position: absolute;
    top: 59%;
    left: 20.8%;
}

.mycarrierhistory_moji{
    width: 69%;
    position: absolute;
    top: -8%;
    right: 3%;
}

.circle1{
    position: absolute;
    top: 11%;
    left: 11.7%;
    width: 21.5%;
    max-width: 300px;
    z-index: 1;
}



.period1{
    font-weight: bold;
    color: #fff;
    background-color: #999999;
    padding: 4px;
    border-radius: 12px;
    text-align: center;
    margin: 0 auto 7%;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    font-size: clamp(12px, 1.5vw, 18px); 
}


.text_innermaker{
    margin: 0 auto 6%;
    width: 90%;
    max-width: 228px;
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}

.text_innermaker_detail{
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    width: 100%;

}

.text_innermaker_detail li{
    font-size: clamp(12px, 1.2vw, 16px); 
    line-height: 1.37;
}


.circle2{
    position: absolute;
    top:30%;
    left: 36%;
    width: 14.2%;
    max-width: 210px;

}

.period2{
    font-weight: bold;
    color: #fff;
    background-color: #999999;
    padding: 4px;
    border-radius: 12px;
    text-align: center;
    margin: 0 auto 7%;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(12px, 1.5vw, 18px); 
  
}

.text_sankyu{
    width: 50%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
   
}



.circle3{
    width: 17.5%;
    max-width: 300px;
    position: absolute;
    top: 50%;
    right: 35%;
}

.period3{
    font-weight: bold;
    color: #fff;
    background-color: #999999;
    padding: 4px;
    border-radius: 12px;
    text-align: center;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(12px, 1.5vw, 18px); 
    white-space: nowrap

}

.text_ikukyu{
    width: 67%;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translateX(-50%);
   
}

.text_ikukyugo_detail{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.text_ikukyugo_detail li{
    font-size: clamp(12px, 1.2vw, 16px); 
    line-height: 1.37;
}



.circle4{
    width: 21.5%;
    max-width: 294px;
    position: absolute;
    top: 38%;
    right: 11%;
}

.period4{
    font-weight: bold;
    color: #fff;
    background-color: #999999;
    padding: 4px;
    border-radius: 12px;
    text-align: center;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(12px, 1.5vw, 18px); 

}

.text_designschool{
    width: 80%;
    position: absolute;
    top: 33.8%;
    left: 50%;
    transform: translateX(-50%);
}

.text_designschool_detail{
    text-align: center;
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

}

.text_designschool_detail li{
    font-size: clamp(12px, 1.2vw, 16px); 
    line-height: 1.37;
}



#skill{
    position: relative;
    max-width: 1165px;
    left: 50%;
    transform: translateX(-50%);
    padding: 130px 3%;
    
}

.book{
    width: 100%;
}

.title{
    width: 43%;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
   
}

.title img{
    width: 57px;
}

.title h2{
    font-size: 53px;
    font-weight: bold;
    color: #333333;
}

.title h3{
   background-color: #fff;
    border: #333333 solid 1px;
    color: #333333;
    padding: 15px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.title div:first-of-type{
    position: relative;
}

.title div:nth-of-type(2){
    position: absolute;
    top:-57%;
    left: 4%;

}



.Photoshop{
    text-align: center;
    position: absolute;
    top:39%;
    left: 14%;
}


.Photoshop p:first-child{
    color: #647c82;
    font-size: 28px;
    margin-bottom: 20%;
    font-weight: bold;
}

.border1{
    margin: 0 auto;
    width: 22px;
    border: solid #333 0.8px;
    transform: rotate(90deg);
}

.Photoshop p:nth-of-type(2){
    margin-top: 20%;
    font-size: 16px;
  
}

.Illustrator{
    text-align: center;
    position: absolute;
    top:39%;
    left: 50%;
    transform: translateX(-50%);
    width: 175px;
}

.border2{
    margin: 0 auto;
    width: 22px;
    border: solid #333 0.8px;
    transform: rotate(90deg);
}

.Illustrator p:first-child{
    color: #647c82;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20%;
}

.Illustrator p:nth-of-type(2){
     margin-top: 20%;
}


.HTML_CSS{
    text-align: center;
    position: absolute;
    top:39%;
    right: 14%;
}


.HTML_CSS p:first-child{
    color: #647c82;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 19%;
}

.border3{
    margin: 0 auto;
    width: 22px;
    border: solid #333 0.8px;
    transform: rotate(90deg);
}

.HTML_CSS p:nth-of-type(2){
    text-align: center;
    margin-top: 19%;
    font-size: 16px;
    
}





.catchcopy{
    text-align: center;
    position: absolute;
    bottom:30%;
    left: 19%;
}


.catchcopy p:first-child{
    color: #647c82;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 12%;
}

.border4{
    margin: 0 auto;
    width: 22px;
    border: solid #333 0.8px;
    transform: rotate(90deg);
}

.catchcopy p:nth-of-type(2){
    text-align: center;
    margin-top: 12%;
    font-size: 16px;
    line-height: 1.4;
}


.photoshooting{
    text-align: center;
    position: absolute;
    bottom:30%;
    right: 19%;
}


.photoshooting p:first-child{
    color: #647c82;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10%;
}

.border5{
    margin: 0 auto;
    width: 22px;
    border: solid #333 0.8px;
    transform: rotate(90deg);
}

.photoshooting p:nth-of-type(2){
    text-align: center;
    margin-top: 10%;
    font-size: 16px;
    line-height: 1.4;
}


#design_works{
    margin: 100px auto;
    max-width: 1165px;
    padding: 0 3%;
    
}

.works_background{
    background-color: #ebe9e6;
    width: 100%;
    
    border-radius: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#design_works h3{
    width: 85%;
    max-width: 996px;
    position: absolute;
    top:-2%;
    left:50%;
    transform: translateX(-50%);
    filter: drop-shadow( 4px 4px 0px #33333333);
}

.work{
    padding-top: 175px;
    display: flex;
    justify-content: center;
}

.work:last-child{
    padding-bottom: 116px;
}

.work_image{
    width: 47%;
}

.work_image img{
    width: 100%;
    box-shadow: 7px 6px 9px #33333333; 
}

.work_image p{
    font-size: 23px;
    margin-top: 24px;
    line-height: 1.4;
    color: #333333;

}

.work_image button{
    background-color: #647c82;
    color: #fff;
    font-size: 22px;
    width: 130px;
    height: 61px;
    border-radius: 32px;
    border: none;
    margin-top: 15px;

}

.button_right{
    margin-left: auto;
    display: block;
}


.work_number{
    border-bottom: solid 1px #666666;
    margin-bottom: 36px;
}

.decoration1{
    position: relative;
    top: 24px;
    left: 23px;
}

.decoration1 p:first-of-type{
    font-size: 12px;
    color: #ed9195;
    font-weight: bold;
}

.decoration1 p:nth-of-type(2){
    font-size: 21px;
    color: #ed9195;
    font-weight: bold;
}


.number001{
    font-family: "ヒラギノ明朝 Pro";
    font-size: 84px;
    color: #ed9195;
    position: relative;
    left: 10px;
}

.number001 span{
    font-size: 112px;
    position: relative;
    left: -9px;
}

.work_title1{
    margin-left: 8%;
    position: relative;
    top: -27px;
}



.work_tategaki{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 47px;
    font-weight: bold;
    color: #4d4d4d;
    line-height: 1.3;
    font-feature-settings: initial;
    position: relative;
    left: 17px;
}



.work_title2{
    margin-right: 8%;
    position: relative;
    top: -27px;
}


.decoration2{
    position: relative;
    top: 24px;
    left: 13px;
}

.decoration2 p:first-of-type{
    font-size: 12px;
    color: #ed9195;
    font-weight: bold;
}

.decoration2 p:nth-of-type(2){
    font-size: 21px;
    color: #ed9195;
    font-weight: bold;
}


.number002{
    font-family: "ヒラギノ明朝 Pro";
    font-size: 84px;
    color: #ed9195;
}

.number002 span{
    font-size: 112px;
}












#contact{
    margin: 0 auto;
    max-width: 1165px;
    padding: 0 3%;
    
}

.contact_detail{
    color: #4d4d4d;
    background-color: #edced0;
    border-radius: 20px;
}

.contact_detail h3{
    padding: 160px 0 117px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.c-form{
    width: 76%;
    margin:  0 auto;

}


.c-form__label{
    display: block;
    font-size: 21px;
}

.c-form input{
    background-color: #fff;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin: 5px auto 55px;
}

.c-form__item textarea{
    background-color: #fff;
    width: 100%;
    height: 230px;
    border-radius: 15px;
    border: none;
    margin-top: 5px;
}

.c-form__submit{
    padding: 63px 0 138px;
}

.c-form__submit button{
    display: block;
    margin: 0 auto;
    background-color: #d38298;
    border-radius: 26px;
    border: none;
    width: 155px;
    height: 50px;
    font-size: 21px;
    color: #fff;
}

.c-form__submit button a{
    background: #d38298;
    border-radius: 26px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 220px;
    padding: 10px 25px;
    color: #fff;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    box-shadow: 5px 5px 0 #d38298;
    border-radius: 50px;
}
.c-form__submit button a:hover {
  background-color: #d38298;
  box-shadow: 0 0 0;
  transform: translate(5px, 5px);
}
.c-form__submit button a:after {
    position: absolute;
    top: 50%;
    right: 20px;
    transition: 0.2s ease-in-out;
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transform: translateY(-50%);
}